#logo {
  height: 2em;
  width: 5em;
}

#default-analysis {
  height: 30em;
}

.upload-area {
  background-color: #3bc8ff;
  border-radius: 0.5em;
}

.button {
  width: 14em;
}

.fa-refresh {
  color: white;
}

.fa-exclamation-circle {
  color: red;
}
